# Ignore CMake build artifacts
CMakeFiles/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
build/
*.o
*.obj
*.exe
*.out
*.tspp
temp.bc
temp.s
temp_exec

# Ignore GitHub workflow and config files
.github/